@import '~antd/dist/antd.css';
.App {
  display: flex;
  height: 100vh;
}
.header {
  color: white;
  font-size: 32px;
  padding-left: 40px;
}
.aside {
  width: 200px;
  background-color: rgb(50, 60, 80);
  color: rgb(155, 170, 190);
}
.aside li {
  cursor: pointer;
  text-align: center;
}
.aside li > span {
  background-color: #3C506E;
}
.aside li span {
  padding: 10px;
  display: block;
  color: rgba(255, 255, 255, 0.7);;
}
.aside .listActive {
  color: #ffffff;
}
.appChild {
  flex: 1;
  height: 100%;
}
